@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap');
:root {
    --bg-color : #eff2f6;
    --bg-menu : #0d0d0d;
    --tx-menu-color : #fff;
    --tx-color : #000;
}
main {
    padding-top: 61px;
}
header {
    width: 100%;
    height: 60px;
    background-color: #0d0d0d;
    border-bottom: 1px solid #808080;
    position: fixed;
    top: 0;
    font-family: 'Public Sans', sans-serif;
}
header nav {
    width: 80%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}
header ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
    height: 60px;
}
header ul li {
    list-style: none;
    margin: 0 30px;
}
header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
header .logo-header {
    font-size: 20px;
    font-weight: 700;
    margin-left: 0;
}
header .search {
    display: flex;
    align-items: center;
}
header .search input {
    border: none;
    background-color: transparent;
    color: #979797;
    outline: none;
    font-size: 17px;
    padding: 10px;
}
header .search span {
    color: #fff;
}
header .cart {
    display: flex;
    align-items: center;
}
header .cart span {
    margin-right: 10px;
}
header .mobile span{
    color: white;
    line-height: 60px;
    display: none;
}
.mobile-menu {
    position: fixed;
    top: 0;
    margin-top: 61px;
    height: 0;
    background-color: var(--bg-menu);
    width: 100%;
    overflow-y: hidden;
    transition: height 0.4s;
    font-family: 'Public Sans', sans-serif;
}
.mobile-menu ul {
    list-style: none;
    padding-left: 0;
    width: 80%;
    margin: auto;
}
.mobile-menu ul li {
    margin: 30px 0;
}
.mobile-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
.mobile-menu .search {
    display: flex;
    align-items: center;
}
.mobile-menu .search input {
    border: none;
    background-color: transparent;
    color: #979797;
    outline: none;
    font-size: 17px;
    padding: 10px;
}
.mobile-menu .search span {
    color: #fff;
}
.mobile-menu .user {
    display: flex;
    justify-content: space-between;
}
.mobile-menu .user a {
    display: flex;
    align-items: center;
}
.mobile-menu .user .cart span {
    margin-right: 10px;
}
@media only screen and (max-width : 1080px) {
    header .no-mobile {
        display: none;
    }
    header .mobile span{
        display: block;
    }
}