@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap');
:root {
    --bg-color : #eff2f6;
    --bg-menu : #0d0d0d;
    --tx-menu-color : #fff;
    --tx-color : #000;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    background-color: var(--bg-color);
}
main .page-data {
    width: 100%;
    height: auto;
    background-color: var(--bg-menu);
    color: var(--tx-menu-color);
}
main .page-data .container {
    width: 80%;
    height: auto;
    margin: auto;
}
main .page-data h1 {
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    padding-top: 30px;
}
main .page-data p {
    margin: 10px 0 0 0;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 30px;
    max-width: 500px;
}
main .data-main {
    width: 80%;
    height: auto;
    margin: 0 10%;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
main .data-main .filter-title {
    display: flex;
    align-items: center;
}
main .data-main .filter-title h3 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    margin: 0;
}
main .data-main .filter-title span {
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
    text-decoration-line: underline;
    padding-left: 16px;
    cursor: pointer;
}
main .filters .category-name {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0;
    font-weight: 700;
}
main .filters input[type="checkbox"] {
    display: none;
}
main .filters label {
    display: flex;
    margin: 10px 0;
}
main .filters input[type="checkbox"] + label::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '';
    font-size: 20px;  
    color: #000;
    margin-right: 10px;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    font-family: "Material Symbols Outlined";
}
main .filters input[type="checkbox"]:checked + label::before {
    content: '\e876';
}
main .data-main .order-selection .selection {
    display: flex;
    border: 1px solid black;
    margin-bottom: 10px;
}
main .data-main .order-selection .selection span {
    padding: 5px 0;
    font-size: 13px;
    line-height: 26px;
    opacity: 0.5;
    margin-left: 10px;
}
main .data-main .order-selection .selection select {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 26px;
    border: none;
    background: none;
    font-weight: 600;
    outline: none;
    margin-right: 10px;
}
main .data-main .order-selection .selection select option {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
}
main .data-main .order-selection .row-count {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    float: right;
}
main .products {
    width: 80%;
    margin: 0 10%;
}
main .products .filters{
    float: left;
    width: 25%;
}
main .products .filters .colors {
    display: flex;
    margin: 10px 0;
}
main .products .filters .colors span {
    display: block;
    width: 23px;
    height: 23px;
    border: 1px solid black;
    border-radius: 12.5px;
    margin: 0 8px;
    cursor: pointer;
}
main .products .cards {
    float: right;
    width: 75%;
}
main .products .cards {
    float: right;
    width: 75%;
}
main .products .cards .row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
main .products .cards .card {
    width: calc(100% / 3 - 40px);
    height: auto;
    text-decoration: none;
    color: #000;
}
main .products .cards .card img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
main .products .cards .card .name{
    font-size: 17px;
    line-height: 28px;
    font-weight: 700;
}
main .products .load-more {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    padding: 15px 80px;
    margin: 40px auto 60px auto;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}
main .products .filters .colors .no-desktop {
    display: none;
}
@media only screen and (max-width : 1080px) {
    main .products .filters .colors .no-desktop {
        display: block;
    }
    main .products .filters .colors {
        display: flex;
        justify-content: space-between;
    }
    main .products .filters .colors .no-mobile {
        display: none;
    }
    main .products .filters .colors span {
        margin: 0;
    }
    main .page-data {
        background-color: transparent;
        color: var(--tx-color);
    }
    main .page-data h1 {
        text-align: center;
    }
    main .page-data p {
        color: #999999;
    }
    main .products {
        display: flex;
        flex-direction: column;
    }
    main .products .filters {
        width: 100%;
    }
    main .products .cards {
        width: 100%;
    }
    main .data-main .filter-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    main .data-main .filter-title span {
        padding: 0;
    }
    main .products .row {
        display: flex;
        flex-direction: column;
    }
    main .products .row .card {
        width: 100%;
        margin: 20px 0;
    }
}