
body{
  padding: 20px;
}

.flexibleH{
  display: flex;
}

.gauche{
  width: 50%;
  float: left;
  height: auto;
}

.droite{
  width: 50%;
  float: right;
  height: auto;
}

.img{
  width: 95%;
}

h1,h2,h3,h4,h5,p{
  font-family: sans-serif;
}

.texte_droite{
  text-align: right;
}

button.continue{
  width: 95%;
  height: 60px;
  font-size: 25px;
  background-color: black;
  border: black thin solid;
  color: white;
}